@import '~app/style/style';

.player {
  .button-row {
    button {
      margin-right: 16px;
    }
  }

  .content {
    padding: 24px;
  }

  .header {
    padding: 24px;
  }

  .table {
    width: 100%;
  }
}
