/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.button-row button,
.button-row a {
  margin-right: 30px;
}

th.mat-sort-header-sorted {
  color: black;
}
