<br>
<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      <div class="button-row">
        <button mat-flat-button color="primary">Da Pagare 100€</button>
        <button mat-flat-button color="warn">Pagate 10€</button>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="descrizione">
        <th mat-header-cell *matHeaderCellDef> Multa </th>
        <td mat-cell *matCellDef="let element"> {{element.descrizione}} </td>
      </ng-container>

      <!-- Da Pagare Column -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.data}} </td>
      </ng-container>

      <!-- Pagate Column -->
      <ng-container matColumnDef="pagata">
        <th mat-header-cell *matHeaderCellDef> Pagata </th>
        <td mat-cell *matCellDef="let element"> {{element.pagate}} </td>
      </ng-container>

      <!-- Valore Column -->
      <ng-container matColumnDef="valore">
          <th mat-header-cell *matHeaderCellDef> Valore </th>
          <td mat-cell *matCellDef="let element"> {{element.valore}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>

