<mat-card class="card">
  <mat-card-title>Staff user</mat-card-title>
  <mat-card-subtitle>Sarà l'utente che useranno i tuoi compagni di squadra per loggarsi! :) </mat-card-subtitle>
  <mat-divider></mat-divider>
  <br>
  <mat-card-content>
    <div class="staff-container">
      <mat-form-field>
        <input matInput placeholder="UserName" required disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Conferma Password" required>
      </mat-form-field>
      <button mat-raised-button color="primary">Salva</button>
    </div>
  </mat-card-content>
</mat-card>
