@import '~app/style/style';

.home {
  height: 100%;

  .card-content {
    width: 100%;
  }

  .content {
    padding: 24px;
  }

  .header {
    padding: 24px;
  }

  .progress-bar {
    height: 24px;
    margin: 24px 0;
  }

}

.accordion .mat-expansion-panel-header-title,
.accordion .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
