<mat-card class="card">
    <mat-card-title>Cambia password</mat-card-title>
    <mat-card-content>
      <div class="player-container">
        <mat-form-field>
          <input matInput placeholder="Vecchia password" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Nuova password" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Ripeti la nuova password" required>
        </mat-form-field>
        <button mat-raised-button color="primary">Salva</button>
      </div>
    </mat-card-content>
  </mat-card>
