.player-container {
  display: flex;
  flex-direction: column;
}

.player-container > * {
  width: 100%;
}

.player-right-align {
  text-align: right;
}

input.player-right-align::-webkit-outer-spin-button,
input.player-right-align::-webkit-inner-spin-button {
  display: none;
}

input.player-right-align {
  -moz-appearance: textfield;
}
