<mat-card class="card">
  <mat-card-content>
    <div class="player-container">
      <mat-form-field>
        <input matInput placeholder="Nome" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Cognome" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Multe già pagate" type="number" class="example-right-align">
        <span matPrefix>€&nbsp;</span>
      </mat-form-field>
      <button mat-raised-button color="primary">Salva</button>
    </div>
  </mat-card-content>
</mat-card>
