<div class="player-container">
  <mat-form-field>
    <input matInput placeholder="Nome" required>
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Cognome" required>
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Multe da Pagare" type="number" class="player-right-align">
      <span matPrefix>€&nbsp;</span>
      <span matSuffix>.00</span>
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Multe Pagate" type="number" class="example-right-align">
      <span matPrefix>€&nbsp;</span>
      <span matSuffix>.00</span>
  </mat-form-field>
  <button mat-raised-button color="primary">Salva</button>
</div>
