@import '~app/style/style';

.multa {
  height: 100%;

  .content {
    padding: 24px;
  }

  .header {
    padding: 24px;
  }

  .form {
    display: flex;
    flex-direction: column;
  }
}

.multa-right-align {
  text-align: right;
}

input.multa-right-align::-webkit-outer-spin-button,
input.multa-right-align::-webkit-inner-spin-button {
  display: none;
}

input.multa-right-align {
  -moz-appearance: textfield;
}

