<div class="change-password">
  <div class="header">
    <h1>Cambia password</h1>
  </div>

  <div class="content">
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Vecchia password" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Nuova password" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Ripeti la nuova password" required>
      </mat-form-field>

      <button color="primary" mat-raised-button>Salva</button>
    </div>
  </div>
</div>
