<div class="login">
  <div class="content">
    <mat-card class="card">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <div class="form">
          <mat-form-field>
            <input matInput [(ngModel)]="loginForm.username" placeholder="Username" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="loginForm.password" placeholder="Password" required>
          </mat-form-field>

          <div class="center">
            <button color="primary" (click)="_login()" mat-raised-button>Login</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
