<div class="profile">
  <div class="header">
    <h1>Profilo</h1>
  </div>

  <div class="content">
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Nome" [(ngModel)]="user.name" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Cognome" [(ngModel)]="user.surname" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" [(ngModel)]="user.email" required disabled>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Squadra" [(ngModel)]="user.team" required disabled>
      </mat-form-field>

      <button mat-raised-button color="primary">Salva</button>
    </div>

    <div class="form">
      <button color="warn" mat-raised-button>Elimina la squadra</button>
      <button color="warn" mat-raised-button>Cancella Profilo</button>
    </div>
  </div>
</div>
