<div class="new-multa-type">
  <div class="header">
    <h1>Nuova tipologia di multa</h1>
  </div>

  <div class="content">
    <div class="form">
      <mat-form-field>
        <input matInput [(ngModel)]="multaType.descrizione" placeholder="Descrizione" type="text" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="multaType.valore" placeholder="Valore" type="number" required>
        <span matSuffix>€&nbsp;</span>
      </mat-form-field>

      <button color="primary" mat-raised-button>Salva</button>
    </div>
  </div>
</div>
